Repository daanvosdewael/daan.vosdewael.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run eslint:fix, npm run stylelint:fix, npx sort-package-json

.lintstagedrc.json:

{
  "*.js": "npm run eslint:fix",
  "*.css": "npm run stylelint:fix",
  "package.json": "npx sort-package-json"
}

fix: change `og-image` format to jpg
  src/index.html
  static/og-image.jpg
  static/og-image.png
Due: none

feat: change main headline to `Frontend Developer`
  src/index.html
Due: none

feat: add `vite-plugin-sitemap` plugin + config
  package-lock.json
  package.json
  vite.config.js
Due: npm run eslint:fix, npx sort-package-json

fix: place `vite-plugin-html` plugin last in array
  src/index.html
  vite.config.js
Due: npm run eslint:fix

feat: replace hacky svg favicon with `ico` file
  src/index.html
  static/favicon.ico
Due: none

fix: remove `data:` value for `img-src` CSP header
  netlify.toml
Due: none

feat: replace `IBM Plex Sans` for `system-ui`
  src/css/base/fonts.css
  src/css/base/variables.css
  src/css/styles.css
  static/fonts/IBMPlexSans-Regular.woff
  static/fonts/IBMPlexSans-Regular.woff2
Due: npm run stylelint:fix

feat: add `stylelint-use-logical` plugin + linter fixes
  .stylelintrc.json
  package-lock.json
  package.json
  src/css/base/main.css
  src/css/base/reset.css
  src/css/base/utils.css
  src/css/components/links.css
  src/css/components/logo.css
  src/css/layouts/main.css
Due: npm run stylelint:fix, npx sort-package-json

fix: small css tweaks
  src/css/components/subtitle.css
  src/css/layouts/main.css
Due: npm run stylelint:fix

feat: remove email address
  src/index.html
Due: none

feat: replace ESLint & Stylelint for Biome
  .eslintrc.json
  .stylelintrc.json
  biome.json
  package-lock.json
  package.json
Due: npx sort-package-json

chore: remove `simple-git-hooks` and `lint-staged` dependencies + configs
  .lintstagedrc.mjs
  .simple-git-hooks.json
  package-lock.json
  package.json
Due: npx sort-package-json

fix: resolve all Biome errors
  .github/renovate.json
  src/css/base/main.css
  src/css/base/reset.css
  src/css/base/utils.css
  src/css/components/links.css
  src/css/layouts/container.css
  src/css/layouts/main.css
  src/css/styles.css
Due: npm run stylelint:fix

feat: add `.hooks` folder with Git scripts
  .hooks/commit-msg
  .hooks/pre-commit
Due: none

chore: update NPM dependencies
  .nvmrc
  package-lock.json
  package.json
Due: npx sort-package-json

chore: update Commitlint config file
  .commitlintrc.json
  commitlint.config.js
Due: npm run eslint:fix

feat: update gitignore file to commit files inside `.vscode`
  .gitignore
Due: none

feat: add `.vscode` folder with `settings.json` & `extensions.json`
  .vscode/extensions.json
  .vscode/settings.json
Due: none

feat: update Renovate config
  .github/renovate.json
Due: none

feat: update GitHub Action workflow for CI
  .github/actions/setup-node/action.yml
  .github/semantic.yml
  .github/workflows/ci.yml
  .github/workflows/pr-lint.yml
Due: none

chore: remove npm v11 logic in action workflow
  .github/actions/setup-node/action.yml
Due: none

chore: update node version in package.json
  package-lock.json
  package.json
Due: npx sort-package-json
