Repository daanvosdewael/daan.vosdewael.dev: changes, and which lint-staged commands are due for each by the changed paths.
All: npm run lint:js, npm run lint:style, npx sort-package-json

chore: cleanup all nuxt files
  .gitignore
  assets/css/base/breakpoints.css
  assets/css/base/colors.css
  assets/css/base/fonts.css
  assets/css/base/main.css
  assets/css/base/variables.css
  assets/css/styles.css
  components/Intro.vue
  components/Keywords.vue
  components/Logo.vue
  config/build-modules.js
  config/build.js
  config/build/loaders.js
  config/build/postcss.js
  config/css.js
  config/head.js
  config/modules.js
  config/modules/sitemap.js
  jsconfig.json
  netlify/_headers
  netlify/_redirects
  nuxt.config.js
  package-lock.json
  package.json
  pages/index.vue
  static/favicon.ico
  static/fonts/NotoSerif-ExtraLight.woff
  static/fonts/NotoSerif-ExtraLight.woff2
  static/fonts/NotoSerif-LightItalic.woff
  static/fonts/NotoSerif-LightItalic.woff2
  static/fonts/NotoSerif.woff
  static/fonts/NotoSerif.woff2
Due: npm run lint:js, npm run lint:style, npx sort-package-json

build: switch to `vite` + configuration changes
  .lintstagedrc.json
  .postcssrc.json
  package-lock.json
  package.json
  vite.config.js
Due: npm run lint:js, npx sort-package-json

feat: new layout implementation
  src/css/base/colors.css
  src/css/base/main.css
  src/css/base/reset.css
  src/css/base/utils.css
  src/css/base/variables.css
  src/css/components/links.css
  src/css/components/logo.css
  src/css/components/subtitle.css
  src/css/layouts/container.css
  src/css/layouts/main.css
  src/css/styles.css
  src/index.html
  static/favicon.ico
  static/og-image.png
  vite.config.js
Due: npm run lint:js, npm run lint:style

fix: minified `json-ld` tags
  src/index.html
Due: none

feat: add `netlify` specific files
  static/_headers
  static/_redirects
Due: none

fix: replace favicon file with emoji
  src/index.html
  static/favicon.ico
Due: none

fix: change height to percentage for iOS Safari
  src/css/layouts/main.css
Due: npm run lint:style

feat: add `vite-plugin-singlefile` package to inline css
  .postcssrc.json
  package-lock.json
  package.json
  vite.config.js
Due: npm run lint:js, npx sort-package-json

feat: switch from Google Fonts to self hosted subset files
  src/css/base/fonts.css
  src/css/styles.css
  src/index.html
  static/fonts/IBMPlexSans-Regular.woff
  static/fonts/IBMPlexSans-Regular.woff2
Due: npm run lint:style

fix: remove `preload` because Netlify changes the path
  src/index.html
Due: none

chore: update `package-lock.json` file
  package-lock.json
Due: none

chore: update `vite-plugin-html` package + config
  package-lock.json
  package.json
  vite.config.js
Due: npm run lint:js, npx sort-package-json

fix: remove redundant `removeAttributeQuotes` option
  vite.config.js
Due: npm run lint:js

chore: update `vite` & `vite-plugin-html` packages
  package-lock.json
  package.json
Due: npx sort-package-json

chore(deps-dev): bump vite-plugin-singlefile from 0.6.3 to 0.7.1
  package-lock.json
  package.json
Due: npx sort-package-json

chore: updating `vite-plugin-singlefile` & `package-lock.json`
  package-lock.json
  package.json
Due: npx sort-package-json

feat: add dark mode 🌑
  src/css/base/colors.css
  src/css/base/main.css
  src/css/base/variables.css
  src/css/components/links.css
  src/index.html
Due: npm run lint:style

chore: update NPM dependencies
  package-lock.json
  package.json
Due: npx sort-package-json

feat: move Netlify config in `netlify.toml` file
  .editorconfig
  .gitignore
  netlify.toml
  static/_headers
  static/_redirects
Due: none

feat: add `CSP` header for testing
  netlify.toml
Due: none

feat: add correct `CSP` headers, still in report only mode
  netlify.toml
Due: none

feat: enable `CSP` header
  netlify.toml
Due: none

feat: only lint staged files with `lint-staged`
  .lintstagedrc.json
  .lintstagedrc.mjs
  .simple-git-hooks.json
Due: none

chore: update `vite-plugin-singlefile` package
  package-lock.json
  package.json
Due: npx sort-package-json

chore: update linter + fixes
  .commitlintrc.json
  .eslintrc.json
  .lintstagedrc.mjs
  .postcssrc.json
  .simple-git-hooks.json
  .stylelintrc.json
  package-lock.json
  package.json
  vite.config.js
Due: npm run lint:js, npx sort-package-json

feat: add `group:allNonMajor` preset
  .github/renovate.json
  renovate.json
Due: none

feat: add `schedule:weekends` preset
  .github/renovate.json
Due: none

feat: add `:automergePatch` preset
  .github/renovate.json
Due: none

feat: replace `:automergePatch` with `:automergeMinor`
  .github/renovate.json
Due: none

feat: remove Dependabot config
  .github/dependabot.yml
Due: none

feat: update Renovate config
  .github/renovate.json
Due: none

feat: add `:disableDependencyDashboard` preset
  .github/renovate.json
Due: none

feat: add GitHub Actions
  .github/workflows/ci.yml
  .github/workflows/pr-lint.yml
Due: none

fix: change indentation to tabs
  .editorconfig
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/pr-lint.yml
  .lintstagedrc.mjs
  .postcssrc.json
  .simple-git-hooks.json
  netlify.toml
  package-lock.json
  package.json
  src/index.html
  vite.config.js
Due: npm run lint:js, npx sort-package-json

fix: change indentation back to spaces for `yml` files
  .editorconfig
  .github/workflows/ci.yml
  .github/workflows/pr-lint.yml
Due: none

fix(): remove `font-src` definition for CSP header
  netlify.toml
Due: none

chore(deps): update dependency @zeebats/stylelint-config to v1.3.0 + linter fixes
  package-lock.json
  package.json
  src/css/base/colors.css
  src/css/base/fonts.css
  src/css/base/main.css
  src/css/base/reset.css
  src/css/base/utils.css
  src/css/base/variables.css
  src/css/components/links.css
  src/css/components/logo.css
  src/css/components/subtitle.css
  src/css/layouts/container.css
  src/css/layouts/main.css
  src/css/styles.css
Due: npm run lint:style, npx sort-package-json

feat: add `lockFileMaintenance` config for Renovate
  .github/renovate.json
Due: none

Path conditions:
  npm run lint:js: any of: *.{js,vue}
  npm run lint:style: any of: *.{css,vue}
  npx sort-package-json: any of: package.json
